<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.registerLab.mappers.EquipoMapper">
	
	<select id="equipoAsociadoaLaboratorio" parameterType="map" resultType="java.lang.Boolean">
		SELECT COUNT(*)
		FROM equipo
		WHERE id=#{equipos} and laboratorio is not null
	</select>
	
	<select id="getEquipo" parameterType="map" resultMap="EquipoResult">
		SELECT equipo.id,equipo.fechainicioactividad,equipo.fechafinactividad,equipo.fechaadquisicion,
		elemento.id as id_elemento,
		elemento.categoria,
		elemento.fabricante,
		elemento.referecia as referencia,
		elemento.fechaadquisicion as fechaadquisicion_elemento,
		elemento.fechainicioactividad as fechainicioactividad_elemento,
		elemento.fechafinactividad as fechafinactividad_elemento 
		From equipo left join elemento on elemento.equipo = equipo.id
		WHERE equipo.id=#{id} 
	</select>
	
	<select id="getEquipos" resultMap="EquipoResult">
		SELECT equipo.id,equipo.fechainicioactividad,equipo.fechafinactividad,equipo.fechaadquisicion,
		elemento.id as id_elemento,
		elemento.categoria,
		elemento.fabricante,
		elemento.referecia as referencia,
		elemento.fechaadquisicion as fechaadquisicion_elemento,
		elemento.fechainicioactividad as fechainicioactividad_elemento,
		elemento.fechafinactividad as fechafinactividad_elemento 
		From equipo left join elemento on elemento.equipo = equipo.id 
		where equipo.fechafinactividad is null
	</select>
	
	<select id="getEquiposinLab" resultMap="EquipoResult">
		SELECT equipo.id,equipo.fechainicioactividad,equipo.fechafinactividad,equipo.fechaadquisicion,
		elemento.id as id_elemento,
		elemento.categoria,
		elemento.fabricante,
		elemento.referecia as referencia,
		elemento.fechaadquisicion as fechaadquisicion_elemento,
		elemento.fechainicioactividad as fechainicioactividad_elemento,
		elemento.fechafinactividad as fechafinactividad_elemento 
		From equipo left join elemento on elemento.equipo = equipo.id 
		where equipo.fechafinactividad is null and equipo.laboratorio is null
		 
	</select>
	
	<select id="equipoPoseElemento" resultType="java.lang.Boolean">
		SELECT COUNT(*)
		FROM elemento
		WHERE id=#{id} and equipo is not null
	</select>
	
	<insert parameterType="map" id="insertarEquipoSinLaboratorio">
        INSERT INTO equipo (id,fechainicioactividad, fechafinactividad , fechaadquisicion) VALUES (#{idE},#{feiniact},#{fefinact},#{feadq})
    </insert>
    
    <insert parameterType="map" id="insertarEquipo">
        INSERT INTO equipo (id,fechainicioactividad, fechafinactividad , fechaadquisicion, laboratorio) VALUES (#{idE},#{feiniact},#{fefinact},#{feadq},#{idL})
    </insert>
    
    <update parameterType="map" id="asociarElemento">
    	UPDATE elemento set equipo=#{equipo}
    	where id=#{elemento}
    </update>
 	
 	<update id="darBaja" parameterType="map">
		update equipo set fechafinactividad=now() where id=#{equipo}

	</update>
	<select id="getAllEquipos" resultMap="EquipoResult">
		SELECT equipo.id,equipo.fechainicioactividad,equipo.fechafinactividad,equipo.fechaadquisicion,
		elemento.id as id_elemento,
		elemento.categoria,
		elemento.fabricante,
		elemento.referecia as referencia,
		elemento.fechaadquisicion as fechaadquisicion_elemento,
		elemento.fechainicioactividad as fechainicioactividad_elemento,
		elemento.fechafinactividad as fechafinactividad_elemento 
		From equipo left join elemento on elemento.equipo = equipo.id 
	</select>
	
	<resultMap type='Equipo' id='EquipoResult'>
	    <id property='id' column='id'/>
	    <result property="fechaInicioActividad" column="fechainicioactividad"></result>
	    <result property="fechaFinActividad" column="fechafinactividad"></result>
	    <result property="fechaAdquisicion" column="fechaadquisicion"></result>
	    <collection property="elementos" resultMap="com.registerLab.mappers.ElementoMapper.ElementoResult"/>     
	</resultMap>
	
</mapper>