<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.registerLab.mappers.LaboratorioMapper">

	<!-- 
	Example consulta
	Select id as id_laboratorio form laboratorio where ....
	
	 -->
	 <select id="getLaboratorioEquipo" parameterType="map" resultMap="LaboratorioResult">
	 	SELECT laboratorio.id as id_laboratorio,laboratorio.nombre,laboratorio.capacidad,laboratorio.fechacierre,laboratorio.fechaapertura
	 	FROM LABORATORIO, EQUIPO
	 	WHERE EQUIPO.ID = #{id} AND Equipo.laboratorio=Laboratorio.id
	 </select>
	 
	 <select id="getLaboratorios" resultMap="LaboratorioResult">
		SELECT laboratorio.id as id_laboratorio,laboratorio.nombre,laboratorio.capacidad,laboratorio.fechacierre,laboratorio.fechaapertura,equipo.id
		FROM laboratorio left join equipo on laboratorio.id=equipo.laboratorio
		WHERE laboratorio.fechacierre is null
	</select>
	
	<select id="getTodosLaboratorios" resultMap="LaboratorioResult">
		SELECT  laboratorio.id,laboratorio.nombre,laboratorio.capacidad,laboratorio.fechacierre,laboratorio.fechaapertura
		FROM laboratorio
	</select>
	
	<select id="cantidadEquipo" parameterType="map" resultType="java.lang.Integer">
		select count(equipo.laboratorio) from laboratorio join equipo on laboratorio.id = equipo.laboratorio  
		where laboratorio.id = #{lab}	
	</select>
	
	<select id="equiposLaboratorios" parameterType="map" resultType="java.lang.Integer">
		select count(novedad.id) from novedad inner join equipo on novedad.equipo = equipo.id
 	 	left join laboratorio on equipo.laboratorio = laboratorio.id  
 	 	where to_char(novedad.fechanovedad, 'MM') = #{mes}
	</select>
	
	 <insert parameterType="map" id="agregarLaboratorio">
	 	insert into laboratorio (id,nombre,capacidad,fechacierre,fechaapertura) 
	 	values (#{Id},#{Nom},#{capacidad},#{fecha},#{fechaA}) 
	 </insert>
	 
	 <update parameterType="map" id="asociarEquipo">
    	UPDATE equipo set laboratorio = #{laboratorio}
    	where id = #{equipo}
    </update>
    
    
    <select parameterType="map" id="getLaboratorio" resultMap="LaboratorioResult">
    	SELECT laboratorio.id as id_laboratorio,laboratorio.nombre,laboratorio.capacidad,laboratorio.fechacierre,equipo.id,equipo.fechafinactividad,equipo.fechainicioactividad,equipo.fechaadquisicion
		FROM laboratorio left join equipo on laboratorio.id=equipo.laboratorio
    	WHERE laboratorio.id = #{Id} 
    </select>
    
    <select id="ElementosLaboratorio" parameterType="map" resultType="java.lang.Integer">
    	select count(elemento.id) from laboratorio join equipo on laboratorio.id = equipo.laboratorio
		join elemento on elemento.equipo = equipo.id 
		where laboratorio.id = #{labo}
    </select>
     
    <update parameterType="map" id="desasociarEquipo">
    	UPDATE EQUIPO SET LABORATORIO = NULL WHERE id=#{equipo}
    </update>
    <update id="cerrarLaboratorio" parameterType="map">
    	UPDATE LABORATORIO set fechacierre=now() where id=#{lab}
    </update>
    
	<resultMap type='Laboratorio' id='LaboratorioResult'>
	    <id property='id' column='id_laboratorio'/>
	    <result property="nombre" column="nombre"></result>
	    <result property="capacidad" column="capacidad"></result>
	    <result property="fechaCierre" column="fechacierre"></result>
	    <result property="fechaApertura" column="fechaapertura"></result>	    
	    <collection property="equipos" resultMap="com.registerLab.mappers.EquipoMapper.EquipoResult"/>       
	</resultMap>
	
</mapper>
